<div class="container">
  <article>
    <h1 class="post-title">$title$</h1>
    <div class="post-meta">
      <p class="post-date">
        $utcMonth$ $utcDay$<sup>$utcOrdinal$</sup>, $utcYear$
        $if(location)$
        | $location$
        $endif$
      </p>
    </div>
    $body$
  </article>
    $if(likes)$
        <p>likes</p>
        <ul>
            $for(likes)$
            <li> $html$ <\li>
            $endfor$
        <\ul>
    $endif$
    $if(replies)$
        <p>replies</p>
        <ul>
            $for(replies)$
            <li> $html$ <\li>
            $endfor$
        <\ul>
    $endif$

</div>
